body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f8fafc;
}

.navbar-light .navbar-brand {
    color: rgb(8, 0, 0);
    margin-left: 33px;
    margin-right: 53px;
    font-weight: 500;
}

.bg-light{
    background-color: #cdcdcd !important;
}